*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #649;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.animation-element {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 1.5s ease-out,
    transform 1.5s ease-out;
}

.element-animation {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1.5s ease-out,
    transform 1.5s ease-out;
}

.element-show {
  opacity: 1;
  transform: translateY(0);
}
